<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div id="app">
        <h1>To-Do List</h1>
        <form action = "addTask" method="post">
            <label>Task:</label>
            <input name = "task" type="text" placeholder="Type your task" id = "description">
            <input type="submit" value="Submit">
        </form>
        <ul id="taskList">
            <% for(var i = 0; i < taskTable.length; i++){
                %>
                <li>
                    <%=taskTable[i].task%>
                    <form method = "post" action = "deleteTask">
                        <input type = "hidden" name="delete" value= <%= taskTable[i].taskID %>>
                        <input type="submit" value="delete">
                    </form>
                </li>
            <%};%>
        </ul>
    </div>

    <script src="home.js"></script>
</body>
</html>
